<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../static/js/jquery-3.6.0.js"></script>
</head>
<body>
<p id="test-response-text"></p>
</body>
<script>
    function ajaxLog(s) {
        let txt = $('#test-response-text');
        txt.val(txt.val() + '\n' + s);
    }

    let jq = $.get('http://127.0.0.1:8000/api/class').done(function (data) {
        ajaxLog('成功收到数据: ' + data);
    }).fail(function (xhr, status) {
        ajaxLog('失败' + xhr.status + ', 原因:' + status);
    }).always(function () {
        ajaxLog('请求完成！')
    })
</script>
</html>
